<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url({{url_for('static',filename='builtin/second.jpg')}}) 
    }
  </style>
  
<table align="center" border=3 bgcolor="lightgrey">
<tr>
<h1 align="center" style>CO2 Cars Emission Predictor</h1>
<form method="post" action="/predict">
<tr><td>
<h3 align="center">Select the type of CAR</h3>
<td><select id="Make" name="Make">
  <option value="0">ACURA</option>
  <option value="1 ">ALFA ROMEO</option>
  <option value="2">ASTON MARTIN</option>
  <option value="3">AUDI</option>
  <option value="4">BENTLEY</option>
  <option value="5">BMW</option>
  <option value="7 ">BUICK</option>
  <option value="8">CADILLAC</option>
  <option value="9 ">CHEVROLET</option>
  <option value="10 ">CHRYSLER</option>
  <option value="11 ">DODGE</option>
  <option value="12 ">FIAT</option>
  <option value="13 ">FORD</option>
  <option value="15 ">GMC</option>
  <option value="16 ">HONDA</option>
  <option value="17 ">HYUNDAI</option>
  <option value="18 ">INFINITI</option>
  <option value="19 ">JAGUAR</option>
  <option value="20 ">JEEP</option>
  <option value="21 ">KIA</option>
  <option value="22 ">LAMBORGHINI</option>
  <option value="23 ">LAND ROVER</option>
  <option value="24 ">LEXUS</option>
  <option value="25 ">LINCOLN</option>
  <option value="26 ">MASERATI</option>
  <option value="27 ">MAZDA</option>
  <option value="28 ">MERCEDES-BENZ</option>
  <option value="29 ">MINI</option>
  <option value="30 ">MITSUBISHI</option>
  <option value="31 ">NISSAN</option>
  <option value="32 ">PORSCHE</option>
  <option value="33 ">RAM</option>
  <option value="34 ">ROLLS-ROYCE</option>
  <option value="35 ">SCION</option>
  <option value="36 ">SMART</option>
  <option value="37 ">SRT</option>
  <option value="38 ">SUBARU</option>
  <option value="39 ">TOYOTA</option>
  <option value="40 ">VOLKSWAGEN</option>
  <option value="41 ">VOLVO</option>

</select>
</td></tr>
<tr><td>
<h3 align="center">Select the Car Class </h3>
<td><select id="Vehicle_class" name="Vehicle_class">
    <option value="0 ">COMPACT</option>
    <option value="1">FULL-SIZE</option>
    <option value="2">MID-SIZE</option>
    <option value="3">MINICOMPACT</option>
    <option value="4">MINIVAN</option>
    <option value="5">PICKUP TRUCK - SMALL</option>
    <option value="6">PICKUP TRUCK - STANDARD</option>
    <option value="7">SPECIAL PURPOSE VEHICLE</option>
    <option value="8">STATION WAGON - MID-SIZE</option>
    <option value="9">STATION WAGON - SMALL</option>
    <option value="10">SUBCOMPACT</option>
    <option value="11">SUV-SMALL</option>
    <option value="12">SUV - STANDARD</option>
    <option value="13">TWO-SEATER</option>
    <option value="14">VAN - CARGO</option>
    <option value="15">VAN - PASSENGER</option>

<tr>
<td><h3 align="center">Enter the engine size </h3>
<td><input type="text" name="Engine_Size"></td>
</tr>
<tr>
<td><h3 align="center">Enter the Cylinder size <h3>
<td><input type="text" name="Cylinders"></td>
</tr>
<tr><td>
<h3 align="center">Select transmission of the car </h3>
<td><select id="Transmission" name="Transmission">	
	<option value="1">A6</option>
	<option value="2">A7</option>
	<option value="3">A8</option>
	<option value="4">A9</option>
	<option value="0">A10</option>
	<option value="4">AM5</option>
	<option value="6">AM6</option>
	<option value="7">AM7</option>
	<option value="8">AM8</option>
	<option value="3">AM9</option>
	<option value="10 ">AS10</option>
	<option value="11">AS6</option>
	<option value="12">AS7</option>
	<option value="13 ">AS8</option>
	<option value="14 ">AS9</option>
	<option value="15">AV10</option>
	<option value="16 ">AV6</option>
	<option value="17 ">AV7</option>
	<option value="18">AV8</option>
	<option value="22 ">M7</option>

<tr><td>
<h3 align="center">Select the Fuel TypeRegular Gasoline </h3>
<td><select id="Fuel_Type" name="Fuel_Type">
	<option value="3">Premium Gasoline</option>
	<option value="0">Diesel</option>
	<option value="4">Regular Gasoline</option>
	<option value="1">Ethanol</option>
	<option value="2">Natural Gas</option>
</tr></td>
<tr>
<td><h3 align="center" >Enter the Fuel Consumption City(L/100km) </h3>
<td><input type="text" name="Fuel_Consumption_City"></td>
</tr>
<tr>
<td><h3 align="center">Enter the Fuel Consumption Highway(L/100km) </h3>
<td><input type="text" name="Fuel_Consumption_Hwy"></td>
</tr>
<tr>
<td><h3 align="center">Enter the Combine Fuel Consumption(mpg) </h3>
<td><input type="text" name="Fuel_Consumption_Comb"></td>
</tr>
</select>
<table align="center">
<tr><td>
<input type="submit" value="PREDICT" onclick="validate();">
<style>
            input[type = submit] {
            background-color: maroon;
            border: none;
            text-decoration: none;
            color: white;
            font-size: 22px;
            font-family: "Times New Roman";
            padding: 10px 10px;
            margin: 10px 10px;
            cursor: pointer;
         }
      </style>
</td></tr>
</table>
</td>
</form>
</tr>
</table>
</td>
</tr>
</td>
</tr>
</select>
</form>
</td>
</tr>
</table>
</table>
</head>
</html>




