<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url({{url_for('static',filename='builtin/picture.jpg')}}) 
    }
  </style>
  <br><br><table align="center" border=3>
  	<tr><td>
  <h1 align="center">
  	<br>
   CO2 CARS EMISSION PREDICTOR
    </h1></td></tr>
    <td><h2 align="center" style="background-color:white">CO2 Emission by this car is {{y}}</h2>
    </td>
</table>
</head>
</html>
